<ion-header>
  <ion-navbar color="white">
    <ion-title>Impostazioni</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()"><h1><ion-icon item-right name="log-in"></ion-icon></h1></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <div class="top">
        <img src="{{user.img}}" tappable (click)="setPhoto()">
        <ion-label></ion-label><h3 tappable (click)="setName()"><ion-icon item-right name="create"></ion-icon>&nbsp;{{user.name}}</h3>
        <p tappable (click)="setUsername()" ><ion-icon item-right name="create"></ion-icon>&nbsp;@{{user.username}}</p>
        <p tappable (click)="setDescription()"><ion-icon item-right name="create"></ion-icon>&nbsp;{{user.description}}</p>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Sei online?</ion-label>
        <ion-toggle item-right [(ngModel)]="showOnline" (ionChange)="changeStatus()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Abilita Notifiche</ion-label>
        <ion-toggle item-right [(ngModel)]="isPushEnabled" [disabled]="isBrowser" (ionChange)="changeNotification()"></ion-toggle>
      </ion-item>
      <ion-item (click)="showBlockedList()">
        <h2>Utenti Bloccati</h2>
        <ion-icon item-right name="arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item tappable (click)="setEmail()">
        Cambia il tuo indirizzo email
        <ion-icon item-right name="arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item tappable (click)="setPassword()" *ngIf="user && user.provider == 'Firebase'">
        Cambia Password
      </ion-item>
      <ion-item (click)="showPolicy()">
        <h2>Privacy Policy</h2> 
        <ion-icon item-right name="ios-help-circle-outline"></ion-icon>
      </ion-item>
      <ion-item (click)="showInviteFriendsPage()">
        <h2>Invita un amico</h2>
        <ion-icon item-right name="ios-contacts-outline"></ion-icon>
      </ion-item>
      <ion-item tappable (click)="deleteAccount()">
        <i>Elimina Account</i>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
