$font-path: "../assets/fonts";

@import "ionic.globals";

$colors: (
  primary:    #683eab,
  secondary:  #c94c5c,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white: #fff,
  balanced:   #33cd5f,
  gray: #c3c3c3,
  facebook: #3b5999,
  google: #dd4b39,
  twitter: #55acee,
  linkedin: #0077B5,
  email: #3aaf85,

);

$primary: #683eab;
$secondary: #c94c5c;
$secondary-active: #6acdff;
$dark: #333;
$dark-active: #4c4c4c;
$gray: #c3c3c3;

$chat-right-bg: #f3f3f3;
$chat-right-color: #222;
$chat-left-bg: #8077c6;
$chat-left-color: #f4f4f4;

$toolbar-background: $primary;
$fab-content-margin: 0;

$refresher-border-color: rgba(0, 0, 0, 0);


@import "ionic.theme.default";
@import "ionicons";
@import "roboto";
@import "noto-sans";
