<ion-header>
  <ion-navbar color="white">
    <ion-title>Chat</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- No conversations to show -->
  <div class="empty-list" *ngIf="conversations && conversations.length <= 0">
    <h1><ion-icon name="text"></ion-icon></h1>
    <p>Nessuna conversazione.</p>
  </div>
  <!-- Show conversations -->
  <ion-list class="avatar-list" *ngIf="conversations && conversations.length > 0">
    <ion-searchbar [(ngModel)]="searchFriend" placeholder="Digita nome o username" showCancelButton="true" cancelButtonText="Cerca"></ion-searchbar>
    <div *ngFor="let conversation of conversations | conversationFilter:searchFriend">
    <ion-item  *ngIf="conversation.blocked != true" no-lines tappable (click)="message(conversation.key)">
      
      <ion-avatar item-left *ngIf="conversation.friend">
        <img src="{{conversation.friend.img}}">
      
        <div [ngClass]=hasUnreadMessages(conversation)>
          <h2 class="sizeFontMsg" *ngIf="conversation.friend">{{conversation.friend.name}}</h2>
          <ion-badge class="topBadge" color="danger" *ngIf="conversation.unreadMessagesCount > 0">{{conversation.unreadMessagesCount}}</ion-badge>
          <!--p>{{conversation.message}}</p>
          <span>{{conversation.date | DateFormat}}</span-->
        </div>
    </ion-avatar>
    
    </ion-item>
    </div>
  </ion-list>
</ion-content>
